.dropdown-toggle::after {
  display: none !important;
}

.bg-image {
  background-image: url('./Assests/LayoutImages/home-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  background-size: 100%;
  background-position: center center;
  padding-left: 0;
  height: 500px;
}

.app {
  background-color: #CAAFA8;
}

.footer-link {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 16px;
}

.footer-link:hover {
  text-decoration: underline solid white;
  color: white;
}

.social-media {
  padding-left: 10px;
  text-decoration: none;
  color: none;
}

.home-img {
  height: 550px;
}

.home-grown-img {
  height: 600px;
  width: 100%;
}
.btn-item{
  border: none;
  background-color: #FDF9F5;
  color: black;
  text-decoration: none;
}
.btn-item:hover{
  color: black;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDF9F5;
  padding-top: 5%;
  padding-bottom: 20%;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.auth-link{
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .home-img {
    height: 400px;
  }

  .home-grown-img {
    height: 400px;
    width: 125%;
  }

  .bg-image {
    background-size: 160%;
    height: 100%;
  }
}