.dropdown-toggle::after {
  display: none !important; 
}
.bg-image{
  background-image: url('./Assests/Images/home-img.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  width: 100vw;
  /* height: 600px; */
  background-size: 100%;
  background-position: center center;
  padding-left: 0;
}
